<br>
<br>
<h1>ブックマーク一覧</h1>
  <div class="form_area">
    <% @bookmarks.each do |bookmark| %>
      <div>
        <% if bookmark.blog.images.attached? %>
          <% bookmark.blog.images.each do |image| %>
          <%= image_tag image, size: "200x200" %> <br>
          <% end %>
        <% end %>
      <br>
      <%= "content:"%><%= bookmark.blog.content %>
      <br>
      <%= "user name:"%><%= bookmark.blog.user.name %>
      </div>
    <% end %>
  </div>
