<%= form_with(model: @blog, local: true ) do |form| %>
<% if @blog.errors.any? %>
<div id="error_explanation">
  <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
  <ul>
    <% @blog.errors.full_messages.each do |msg| %>
    <li class='error-field'><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="article">
<form class="uk-form-horizontal uk-margin-large">
  <div class="field">
    <p>クリックしてください　<span class="uk-label uk-label-danger">必須</span></p>
    <label class="select-btn"><i class="fas fa-camera-retro"></i> 歯の画像を選択する
      <%= form.file_field :images, multiple: true, class:'uk-flex-center@s uk-width-1-4@m' %>
    </label>
  </div>
  <br><br>

  <div class="field">
    <%= form.label :日記内容 %>　<span class="uk-label uk-label-danger">必須</span><br>
    <div class="uk-form-controls">
      <%= form.text_area :content, class:"uk-textarea uk-width-1-2@m", rows:"5", placeholder:"日記内容を入力してください。現在の歯の状況や悩んでいることなど。" %>
    </div>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id %>
  </div>
  <%= form.submit "投稿する", class:"create-btn uk-width-1-2@m" %>
</form>
<% end %>
</div>
