<br><br>
<div class="search_field">
  <%= search_form_for @q, url: blogs_path do |f| %>
    <%= f.label :user_address_eq, "地域別" %>
    <%= f.select :user_address_eq, User.addresses{|key,value| [User.addresses[key],value]}, {include_blank: true}, class:"pulldown-search" %>
    <%= f.label :user_orthodontics_type_eq, "矯正方法別" %>
    <%= f.select :user_orthodontics_type_eq, User.orthodontics_types{|key,value| [User.orthodontics_types[key],value]}, {include_blank: true}, class:"pulldown-search" %>
    <%= f.label :user_teeth_type_eq, "歯の悩み別" %>
    <%= f.select :user_teeth_type_eq, User.teeth_types{|key,value| [User.teeth_types[key],value]}, {include_blank: true}, class:"pulldown-search" %><br><br><br>
    <%= f.submit "検索", class:"action-btn" %>
  <% end %>
  <br><br>
</div>

<div class="actions">
  <%= link_to '新しく日記を投稿する', new_blog_path, class:"red-btn" %>
</div>

<div class="article">
<h1>日記一覧</h1>
  <div class="row">
  <% @blogs.each do |blog| %>
      <div class="article-area col-md-3">
        <li>
          <% if blog.images.attached? %>
            <% blog.images.each do |image| %>
            <%= image_tag image, size: "200x200" %>
            <% end %>
          <% end %>
        </li>
        <li class="content_text"><%= blog.content %></li>
        <li><%= l blog.updated_at %></li>
        <% if blog.user.profile_image.attached? %>
        <li class="user_image"><%= image_tag blog.user.profile_image, class:"rounded-circle", size: "100x100" %></li>
        <% end %>
        <div class="user_parts">
          <li><%= blog.user.name %></li>
          <li><%= blog.user.address %></li>
          <li><%= blog.user.orthodontics_type %></li>
          <li><%= blog.user.teeth_type %></li>
        </div>
        <li>
        <%= link_to '詳細', blog_path(blog.id), class:"select-btn" %>
        <% if blog.user.id == current_user.id %>
        <%= link_to '編集', edit_blog_path(blog.id), class:"select-btn" %>
        <%= link_to '削除', blog_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class:"select-btn" %></li>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= paginate @blogs %>
</div>
