<div class="article">
  <h1>日記詳細画面</h1>
  <div class="uk-flex-center@s" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-box-shadow-medium">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <% if @blog.user.profile_image.attached? %>
              <p><%= image_tag @blog.user.profile_image, class:"uk-border-circle", width:"70",height:"70" %></p>
              <% else %>
              <p><%= image_tag "defalt_profile_image.png", class:"uk-border-circle", width:"70",height:"70" %></p>
              <% end %>
            </div>
            <div class="uk-width-expand uk-grid-divider" uk-grid>
              <div class="center">
                <h3 class="uk-card-title uk-margin-remove-bottom"><%= link_to "#{@blog.user.name}", user_path(@blog.user.id), class:"uk-button uk-button-text" %></h3>
                <p class="uk-text-meta uk-margin-remove-top"><%= @blog.updated_at.to_date %></p>
              </div>
              <div class="uk-text-left">
                <p class="uk-text-meta uk-margin-remove-top"><span uk-icon="icon: location"></span><%= @blog.user.address %></p>
                <p class="uk-text-meta uk-margin-remove-top"><i class="fas fa-teeth-open fa-2x"></i><%= @blog.user.orthodontics_type %></p>
                <p class="uk-text-meta uk-margin-remove-top"><i class="far fa-grimace fa-2x"></i>　<%= @blog.user.teeth_type %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-card-media-top">
          <% if @blog.images.attached? %>
          <% @blog.images.each do |image| %>
          <%= image_tag image, class:"card-img-top", style:"height: 400px; width: 537px;" %>
          <% end %>
          <% end %>
        </div>
        <div class="uk-card-body">
          <p class="uk-text-left"><%= @blog.content %></p>
          <p>
            <div id="bookmarks_buttons<%= @blog.id %>">
              <%= render partial: 'bookmarks/bookmark', locals: { blog: @blog, bookmark: @bookmark} %>
            </div>
            <% if @blog.user_id == current_user.id %>
            <%= link_to '編集', edit_review_path(@blog),  id:"review_index_edit-#{@blog.id}", class:"uk-button uk-button-text" %>
            <%= link_to '削除', @blog, method: :delete, data: { confirm: 'Are you sure?' },  id:"review_index_delete-#{@blog.id}", class:"uk-button uk-button-text" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-child-width@m uk-grid-small uk-grid-match" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <h1>コメント</h1>
        <p><%= @blog_comments.count %>件コメント</p>
        <%= render partial: 'blog_comments/form', locals: { blog_comment: @blog_comment, blog: @blog } %>
        <h1>コメント一覧</h1>
        <div id="blog_comments_area">
          <%= render partial: 'blog_comments/index', locals: { blog_comments: @blog_comments, blog: @blog } %>
        </div>
        <%= link_to 'Edit', edit_blog_path(@blog) %> | <%= link_to 'Back', blogs_path %>
      </div>
    </div>
  </div>
</div>
