<h1>ブログ詳細画面</h1>
<div class="form_area">
  <p><%= link_to "#{@blog.user.name}", user_path(@blog.user.id) %></p>
  <p><%= @blog.user.address %></p>
  <p>今後したい・現在している矯正方法: <%= @blog.user.orthodontics_type %></p>
  <p>歯の悩みタイプ: <%= @blog.user.teeth_type %></p>

  <% if @blog.images.attached? %>
    <% @blog.images.each do |image| %>
    <%= image_tag image, size: "200x200" %> <br>
    <% end %>
  <% end %>
  <p>内容: <%= @blog.content %></p>

  <% unless @blog.user_id == current_user.id %>
    <% if @bookmark.present? %>
      <%= link_to 'ブックマーク解除する', bookmark_path(id: @bookmark.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'ブックマークする', bookmarks_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
  <% end %>

  <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <%= link_to 'Back', blogs_path %>
</div>
