<%= form_with(model: [review, review_comment], local: false) do |form| %>
  <% if review_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review_comment.errors.count, "error") %> prohibited this review_comment from being saved:</h2>
      <ul>
      <% review_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.text_area :content, class:"uk-textarea", rows:"5", placeholder:"コメントを入力してください。" %>
  </div><br>

  <div class="actions">
    <%= form.submit "コメントを投稿", class:"button"%>
  </div><br>
<% end %>
