<br><br>

<h1><%= @user.name %>のマイページ</h1>

<div class="user_content row">
    <div class="user_info col-md-4">
      <div class="user_profile_image">
        <% if @user.profile_image.attached? %>
          <p><%= image_tag @user.profile_image, class:"rounded-circle", size: "200x200" %></p>
        <% end %>
      </div>
      <h1 class="user_name"><%= @user.name %></h1>
      <li>地域<br>
        <%= @user.address %></li>
      <li>歯の悩み<br>
        <%= @user.teeth_type %></li>
      <li>今後したい・現在している矯正方法<br>
        <%= @user.orthodontics_type %></li>
    </div>

    <div class="user_info grow_tree col-md-4">
      <div class="image">
        <% if @user.blogs.length < 10 %>
          <%= image_tag 'tree1.png', class:"image_resize1" %>
        <% elsif @user.blogs.length < 20 %>
          <%= image_tag 'tree2.png', class:"image_resize2" %>
        <% elsif @user.blogs.length < 40 %>
          <%= image_tag 'tree3.png', class:"image_resize3" %>
        <% elsif @user.blogs.length < 60 %>
          <%= image_tag 'tree4.png', class:"image_resize4" %>
        <% elsif @user.blogs.length < 70 %>
          <%= image_tag 'tree5.png', class:"image_resize5" %>
        <% elsif @user.blogs.length < 90 %>
          <%= image_tag 'tree6.png', class:"image_resize6" %>
        <% else @user.blogs.length < 120 %>
          <%= image_tag 'tree7.png', class:"image_resize6" %>
        <% end %>
      </div>
      <ul>
        <% if @user.blogs.blank? %>
          <li>日記開始日：投稿がありません。</li>
        <% else %>
          <li>日記開始日：<%= l @user.blogs.first.created_at %>から始めました。</li>
        <% end %>
        <li>日記投稿数：<%= @user.blogs.length %>日間</li>
      </ul>
    </div>
</div>

<div class="actions">
  <%= link_to "プロフィールを編集", edit_user_registration_path(@user.id), class:"red-btn" %>
</div>
