<div class="uk-width-1-1 user-back">
  <h1 class="mypage-font-color"><%= @user.name %>のマイページ</h1>

  <% if @user.profile_image.attached? %>
    <p><%= image_tag @user.profile_image, class:"uk-border-circle", size: "200x200" %></p>
  <% else %>
    <p><%= image_tag "defalt_profile_image.png", class:"uk-border-circle", size: "200x200" %></p>
  <% end %>

  <h1 class="mypage-font-color"><%= @user.name %></h1>
  <li class="mypage-font-color">フォロー：<%= link_to  @user.active_relationships.count, followings_user_path(@user) %>
    フォロワー：<%= link_to @user.passive_relationships.count, followers_user_path(@user) %></li>
  <li class="mypage-font-color">地域：
  <%= @user.address %></li>
  <li class="mypage-font-color"> 歯の悩み：
  <%= @user.teeth_type %></li>
  <li class="mypage-font-color">今後したい・現在している矯正方法：
  <%= @user.orthodontics_type %></li>
  <br>

  <div class="actions">
    <% if @user.id == current_user.id %>
      <%= link_to "プロフィールを編集", edit_user_registration_path(@user.id), class:"profile-btn" %>
    <% else %>
      <% unless current_user.following?(@user) %>
        <%= link_to user_relationships_path(@user), method: :post do %>
          <button class="uk-button uk-button-primary">フォロー</button>
        <% end %>
      <% else %>
        <%= link_to user_relationships_path(@user), method: :delete do %>
          <button class="uk-button uk-button-danger">フォロー解除</button>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="article">
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
    <div class="grow_tree">
      <div class="image">
        <% if @user.blogs.length < 10 %>
          <%= image_tag 'tree1.png', class:"image_resize1" %>
        <% elsif @user.blogs.length < 20 %>
          <%= image_tag 'tree2.png', class:"image_resize2" %>
        <% elsif @user.blogs.length < 40 %>
          <%= image_tag 'tree3.png', class:"image_resize3" %>
        <% elsif @user.blogs.length < 60 %>
          <%= image_tag 'tree4.png', class:"image_resize4" %>
        <% elsif @user.blogs.length < 70 %>
          <%= image_tag 'tree5.png', class:"image_resize5" %>
        <% elsif @user.blogs.length < 90 %>
          <%= image_tag 'tree6.png', class:"image_resize6" %>
        <% else @user.blogs.length < 120 %>
          <%= image_tag 'tree7.png', class:"image_resize6" %>
        <% end %>
      </div>
      <ul>
        <% if @user.blogs.blank? %>
          <li>日記開始日：投稿がありません。</li>
        <% else %>
          <li>日記開始日：<%= l @user.blogs.first.created_at %>から始めました。</li>
        <% end %>
        <li>日記投稿数：<%= @user.blogs.length %>日間</li>
      </ul>
    </div>
    </div>
<br><br>
