<h1>user#show</h1>
<p><%= image_tag @user.profile_image, class:"rounded-circle", size: "200x200" %></p>
<p><%= @user.name %></p>
<p><%= @user.address %></p>
<p><%= @user.teeth_type %></p>
<p><%= @user.orthodontics_type %></p>
<%= link_to "プロフィールを編集する", edit_user_registration_path(@user.id) %>
