<div class="outside">
  <div class="article">
    <div class="uk-card uk-card-default uk-card-body">
      <h2><%= t('.sign_in') %></h2>

      <div class="btn-field">
      <%= link_to user_google_oauth2_omniauth_authorize_path, class:"google-btn" do %>
      <i class="fab fa-google-plus-g"></i> Googleでログインする
      <% end %>
      </div>
      <div class="btn-field">
      <%= link_to user_twitter_omniauth_authorize_path, class:"twitter-btn" do %>
      <i class="fab fa-twitter"></i> Twitterでログインする
      <% end %>
      </div><br>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class:"uk-input uk-width-1-2@m" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class:"uk-input uk-width-1-2@m" %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end %><br>

      <div class="actions">
        <%= f.submit t('.sign_in'), class:"create-btn uk-width-1-2@m" %>
      </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
