<br><br>
<div class="sign_in_field">
    <h2><%= t('.sign_in') %></h2>
  <form>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class:"input-field" %>
    </label><br>
    <label>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class:"input-field" %>
    </label><br>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class:"check" %>
          <%= f.label :"Remember me" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit t('.sign_in'), class:"action-btn" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
  </form>
</div>
