<h3>以下の内容で、送信する。</h3>
<%= form_with(model: @review, local: true) do |form| %>
  <p>カウンセリング日:<%= @review.reservation_at %></p>
  <%= form.hidden_field :reservation_at %>
  <p>見積もり金額:<%= @review.quote_price %></p>
  <%= form.hidden_field :quote_price %>
  <p>歯科矯正方法:<%= @review.orthodontics_type %></p>
  <%= form.hidden_field :orthodontics_type %>
  <p>カウンセリング内容:<%= @review.content %></p>
  <%= form.hidden_field :content %>
  <p>スター:<%= @review.star %></p>
  <%= form.hidden_field :star %>
  <%= form.hidden_field :user_id %>
  <%= form.submit  "登録する" %>
  <%= form.submit "back", name: 'back' %>
<% end %>
