<h1>Reviews</h1>

<table>
  <thead>
    <tr>
      <th>プロフ画像</th>
      <th>名前</th>
      <th>地域</th>
      <th>歯の悩みタイプ</th>
      <th>カウンセリング日</th>
      <th>見積もり金額</th>
      <th>カウンセリング内容</th>
      <th>スター</th>
      <th>歯科矯正方法（カテゴリー）</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <% if review.user.profile_image.attached? %>
        <td><%= image_tag review.user.profile_image, class:"rounded-circle", size: "100x100" %></td>
        <% end %>
        <td><%= review.user.name %></td>
        <td><%= review.user.address %></td>
        <td><%= review.user.teeth_type %></td>
        <td><%= l review.reservation_at %></td>
        <td><%= review.quote_price %>万円</td>
        <td><%= review.content %></td>
        <td><%= review.star %></td>
        <td><%= review.orthodontics_type %></td>
        <td><%= link_to '詳細', review %></td>
        <td><%= link_to '編集', edit_review_path(review) %></td>
        <td><%= link_to '削除', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Review', new_review_path %>
<%= paginate @reviews %>
