<% if @review.images.attached? %>
  <% @review.images.each do |image| %>
    <%= image_tag image %> <br>
  <% end %>
<% end %>

<p>
  <strong>Reservation at:</strong>
  <%= @review.reservation_at %>
</p>

<p>
  <strong>Quite price:</strong>
  <%= @review.quote_price %>
</p>

<p>
  <strong>orthodontics_type:</strong>
  <%= @review.orthodontics_type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<p>
  <strong>Star:</strong>
  <%= @review.star %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
