<div class="article">
  <h1>カウンセリング口コミ詳細画面</h1>
  <div class="uk-flex-center@s" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-box-shadow-medium">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <% if @review.user.profile_image.attached? %>
              <%= image_tag @review.user.profile_image, class:"uk-border-circle", width:"70",height:"70" %> <br>
              <% else %>
              <%= image_tag "defalt_profile_image.png", class:"uk-border-circle", width:"70",height:"70" %> <br>
              <% end %>
            </div>
            <div class="uk-width-expand uk-grid-divider" uk-grid>
              <div class="center">
                <h3 class="uk-card-title uk-margin-remove-bottom"><%= link_to "#{@review.user.name}", user_path(@review.user.id) %></h3>
                <p class="uk-text-meta uk-margin-remove-top"><%= @review.updated_at.to_date %></p>
              </div>
              <div class="uk-text-left">
                <p class="uk-text-meta uk-margin-remove-top"><span uk-icon="icon: location"></span><%= @review.user.address %></p>
                <p class="uk-text-meta uk-margin-remove-top"><i class="fas fa-teeth-open fa-2x"></i><%= @review.user.orthodontics_type %></p>
                <p class="uk-text-meta uk-margin-remove-top"><i class="far fa-grimace fa-2x"></i>　<%= @review.user.teeth_type %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <p class="uk-text-left">
            <% @review.star_before_type_cast.times do %>
            <%= image_tag 'star-on.png', class:"revew-show-star-on-#{@review.user.name}" %>
            <% end %>
            <% (5-@review.star_before_type_cast).times do %>
            <%= image_tag 'star-off.png', class:"revew-show-star-off-#{@review.user.name}" %>
            <% end %><br>
            矯正方法：<%= @review.orthodontics_type %><br>
            クリニック名：<%= @review.clinic.name %><br>
            クリニック住所：<%= @review.clinic.address %><br>
            カウンセリング日：<%= l @review.reservation_at %><br>
            見積もり金額：<%= @review.quote_price %>万円<br>
            カウンセリング内容：<br><%= @review.content %><br>
            <li class="uk-text-baseline"><span uk-icon="comment"></span>  <%= @review.review_comments.length %>  <span uk-icon="heart"></span>  <%= @review.likes.length %></li><br>
          </p>
          <p>
            <% unless @review.user_id == current_user.id %>
            <% if @like.present? %>
            <%= link_to 'いいね解除する', like_path(id: @like.id), method: :delete, class: 'btn btn-danger' %>
            <% else %>
            <%= link_to 'いいねする', likes_path(review_id: @review.id), method: :post, class: 'btn btn-primary' %>
            <% end %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-child-width@m uk-grid-small uk-grid-match" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <h1>コメント</h1>
        <p><%= @review_comments.count %>件コメント</p>
        <%= render partial: 'review_comments/form', locals: { review_comment: @review_comment, review: @review } %>
        <div id="review_comments_area">
          <%= render partial: 'review_comments/index', locals: { review_comments: @review_comments, review: @review } %>
        </div>
      </div>
    </div>
    <br>
  </div>

  <%= link_to 'Edit', edit_review_path(@review) %> |
  <%= link_to 'Back', reviews_path %>
</div>
