<%= form_with(model: [blog, blog_comment], local: false) do |form| %>
  <% if blog_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog_comment.errors.count, "error") %> prohibited this blog_comment from being saved:</h2>
      <ul>
      <% blog_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.text_area :content, id: "blog_comment_content_#{blog.id}", class:"content-field" %>
  </div>
  <div class="actions">
    <%= form.submit "コメントを更新する", class:"action-btn" %>
  </div>
<% end %>
