<%= form_with(model: [blog, blog_comment], local: false) do |form| %>
  <% if blog_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog_comment.errors.count, "error") %> prohibited this blog_comment from being saved:</h2>
      <ul>
      <% blog_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="uk-margin">
    <%= form.text_area :content, class:"uk-textarea", rows:"5", placeholder:"コメントを入力してください。" %>
  </div>

  <div class="actions">
    <%= form.submit "コメントを投稿", class:"button" %>
  </div>
<% end %>
