<!DOCTYPE html>
<html>
<head>
  <title>DentalApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
</head>

<body>
  <header>
    <nav class="uk-navbar uk-navbar-container uk-margin">
      <div class="uk-navbar-left">
        <a class="uk-navbar-toggle" uk-toggle="target: #offcanvas-nav-primary">
          <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
        </a>
      </div>
      <div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
          <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            <li class="uk-active"><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span>Menu</a></li>
            <li class="uk-nav-divider"></li>
            <li class="uk-parent uk-active">
            <% if user_signed_in? %>
            <% if current_user.try(:admin?) %>
            <li><a href="#"><%= link_to "管理者画面", rails_admin_path %></a></li>
            <li class="uk-nav-divider"></li>
            <% end %>
            <li class="uk-parent uk-active">
              <a href="#">Blog</a>
              <ul class="uk-nav-sub">
                <li><a href="#"><%= link_to "日記を投稿する", new_blog_path %></a></li>
                <li><a href="#"><%= link_to "日記一覧", blogs_path %></a></li>
                <li><a href="#"><%= link_to "日記ブックマーク一覧", bookmarks_path %></a></li>
              </ul>
            </li>
            <li class="uk-nav-divider"></li>
            <li class="uk-parent uk-active">
              <a href="#">Review</a>
              <ul class="uk-nav-sub">
                <li><a href="#"><%= link_to "カウンセリング口コミを投稿する", new_review_path %></a></li>
                <li><a href="#"><%= link_to "カウンセリング口コミ一覧", reviews_path %></a></li>
                <li><a href="#"><%= link_to "カウンセリング口コミいいね一覧", likes_path %></a></li>
              </ul>
            </li>
            <li class="uk-nav-divider"></li>
            <li class="uk-parent uk-active">
              <a href="#">MYPAGE</a>
              <ul class="uk-nav-sub">
                <li><a href="#"><%= link_to "マイページ", user_path(current_user.id) %></a></li>
                <li><a href="#"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></a></li>
              </ul>
            </li>
            <% else %>
            <li class="uk-active"><a href="#"><%= link_to "アカウント登録", new_user_registration_path %></a></li>
            <li class="uk-active"><a href="#"><%= link_to "ログイン", new_user_session_path %></a></li>
            <li class="uk-active"><a href="#"><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %></a></li>
            <li class="uk-active"><a href="#"><%= link_to '管理者ゲストログイン', users_admin_guest_sign_in_path, method: :post %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-error"><%= alert %></p>
  <% end %>
  <%= yield %>
  <footer>
    <p>© 2021 DENTAL SHARE inc.</p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</body>
</html>
